.dealerTSE-table{
    .table-container{
        table{
            tbody{
                tr{
                    td{
                        padding: 0px !important;
                    }
                }
            }
        }
        td {
            padding: 0px;
        }
    } 
    .edit-btn {
        background-color: #007bff;
        color: white;
        border: none;
        margin: 5px;
        border-radius: 5px;
        
        &:hover {
            background-color: #0056b3;
        }
    }
    .pagination{
        button{
            padding: 0px;
        }
    }
}
